body {
    background: honeydew;
}

p{
    font-size: 56px;
    font-weight: bold;
    text-align:center;
}

p.title{
    font-family: serif;
}

.robot img {
    margin: 10px auto;
    width:500px;
 }

 ul {
    text-align: center;
  }

li.button1 {
    display: block;
	position: relative;
	width: 400px;
	padding: 2.0em;
	text-align: center;
	text-decoration: none;
	color: #fff;
    background: #795548;

    display: inline-block;

    /* 文字サイズを1.4emに指定 */
    font-size: 1.4em;
    /* 文字の太さをboldに指定 */
    font-weight: bold;

    font-family: sans-serif;

    border : solid 5px #333 ;
}
 
li.button1:hover {
    opacity:0.8;
	cursor: pointer;
    text-decoration: none;
}